.container__footer {
    width: 100%;
    padding: 40px 0;
    background: #e9d2b8;;
    margin-top: 40px;
}

.container__footer .logo__footer {
    text-align: center;
}

.container__footer .logo__footer img {
    width: 250px;
}

.container__footer .redes__footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container__footer .redes__footer a {
    text-decoration: none;
}

.icon__redes {
    font-size: 24px;
    color: #000; 
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s; 
}

.container__footer h4 {
    justify-content: end;
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
    color: #d3d3d3;
    font-weight: 500;
}

.bi-facebook:hover {
    background-color: #3b5998;
    color: white;
}

.bi-instagram:hover {
    background-color: #c13584;
    color: white;
}

.bi-youtube:hover {
    background-color: #ff0000;
    color: white;
}
