/* Estilos para la página About */
.container {
    background-color: #e9d2b8;
    padding: 30px; 
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
    font-size: 18px; 
  }
  
  img {
    max-width: 100%; 
    height: auto;
  }
  
  .text-center {
    text-align: center;
  }
  