.home-container {
    background-color: #e9d2b8;
    padding: 20px;
    text-align: center;
  }
  
  .welcome-section {
    margin-bottom: 40px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .therapy-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .fondo-1 {
    background-color: #f2e4d5;
  }
  
  .fondo-2 {
    background-color: #d5e4f2;
  }
  
  .therapy-content {
    flex: 1;
    text-align: left;
    margin-left: 20px;
  }
  
  .therapy-image {
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
  }
  